body {
    background: #f2f2f2;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nomargin {
    margin: 0!important;
}
.fixed {
    position: fixed;
    z-index: 99999;
    top: 20px;
}
.stop {
    position: initial;
    margin-top: auto;
}
section {
    margin: 0;
}
main .component {
    margin-bottom: 20px;
    display: flex;
}
main .component .title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
}
#category-info.component {
    margin: 0;
}
/* SEARCH RESULTS */
.component #search-result {
    align-items: flex-end;
    display: flex;
}
#search-result .articles-found {
    margin: 0 0 20px;
}
/* CATEGORIES */
.component #categories, .component #search-result {
    width: 250px;
}
.component #categories {
    display: flex;
    flex-direction: column;
}
.component #categories .title {
    font-size: 18px;
}
/* FIELD */
.field {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 10px;
}
.field .controller {
    display: none;
}
.field .checkbox {
    width: 32px;
    height: 32px;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.field .checkbox::before {
    content: "\f04a";
    font-family: "Vencaicons";
    display: none;
    color: #DC0B0B;
}
.field .checkbox::before {
    display: none;
}
.field .label {
    color: #333;
    font-weight: 500;
    text-align: left;
    font-size: 1em;
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
    flex: 1;
}
.field .controller:checked ~ .checkbox {
    border-color: #DC0B0B;
}
.field .controller:checked ~ .checkbox::before {
    display: block;
}
.field .controller:checked ~ .label {
    color: #DC0B0B;
}
/* COLOR FIELD */
.colors .field {
    width: calc(100% / 4);
    margin: 0;
    padding: 5px;
}
.colors .checkbox {
    border: none;
    width: 100%;
}
.colors .field .controller:checked ~ .checkbox {
    border: 2px solid #DC0B0B;
}
.colors .field .controller:checked ~ .checkbox::before {
    display: none;
}
/* RESET COLOR */
a {
    color: black;
    font-size: 14px;
    font-size: 1.4rem;
    cursor: pointer;
}
a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none!important;
    cursor: pointer;
}
.vencaColor,
a:hover,
a:focus,
.underline:focus,
.underline:active,
.underline:hover,
.light:hover,
.light:focus,
.light:visited,
.light:active {
    color: #DC0B0B;
    border-color: #DC0B0B;
}
.scroll-top-wrapper:hover,
.dark:hover,
.dark:focus,
.dark:visited,
.dark:active,
::selection {
    background: #DC0B0B;
}
.suisses-container {
    /*width: 1150px;*/
    margin: auto;
}
/* STANDARD HEADER */
@media screen and (max-width: 992px) {
    body>header div.header {
        background: #fff;
        max-width: 1140px;
        margin: 0 auto;
        margin-top: -20px;
        padding-top: 10px;
    }
}
#userZone {background: transparent;}

body>header #searcher>form>span>button {
    float: right;
    margin-top: -40px;
    margin-right: -31px;
}
@media only screen and (max-width: 991px) {
    .animated-arrow {
        cursor: pointer;
        padding: 0 35px 16px 0;
        margin: 15px 0 0 45px;
    }
}
@media only screen and (max-width: 991px) {
    .animated-arrow {
        position: absolute;
        left: 0;
        top: 0;
    }
}
body>header div.header {
    background: #fff;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: -10px;
    padding-top: 10px;
}
@media screen and (max-width: 992px)  {
    body>header div.header {
        background: #fff;
        max-width: 1140px;
        margin: 0 auto;
        margin-top: -30px;
        padding-top: 10px;
    }
}
@media (min-width: 992px) {
    .logoMarginLeft {
        margin-left: 0;
    }
}
@media only screen and (min-width:768px) and (max-width: 991px) {
    .logoMarginLeft {
        margin-left: 12%;
    }
}
@media (max-width: 767px) {
    .logoMarginLeft {
        margin-left: 30%;
    }
}

/* STANDARD HEADER > NAVIGATION DESKTOP */
.wsmenu {background: white !important;}
.wsmenu-list>li {text-align: center; display: table-cell; background: black; padding: 0}
.wsmenu-list li:hover>.megamenu {border-bottom: 5px solid #000;}
.wsmenu-list>li>a {display: inline-block; color: white;}
.wsmenu-list>li:hover>a { background: black !important; text-decoration: none; color: #DC0B0B; }
.megamenu li a:hover { color: black;}
/* xmas node
.wsmenu-list>li.XMS>a:hover {color:#caa677;}
.wsmenu-list>li.XMS:hover>a { color:#caa677; }
*/
.topOfPage {
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 54px;
    z-index: 99999;
    padding-top: 22px;
}
.topOfPageInfo {
    position: fixed;
    z-index: 999999;
    height: 50px;
    top: -15px;
}

@media (max-width: 992px) {
    .topOfPageInfo {
        position: inherit;
        z-index: 999999;
        height: inherit;
        top: inherit;
    }
}
@media (min-width: 992px) {
    .col-md-5head {
        width: 42%;
        float: left;
        border-right: 1px solid #dadada;
        padding-right: 12px;

    }
}
@media (min-width: 992px) {
    .col-md-3head {
        width: 20%;
         float: left;
         padding-left: 12px;
    }
}
@media (min-width: 992px) {
    .col-md-2head {
        width: 17%;
         float: left;
    }
}

.naviB {
    color: black;
    font-size: 1.4rem;
    display: table;
    width: 100%;
    margin-bottom:5px;
    margin-top: 5px;
    text-transform: uppercase;;
}
.slashPromos {
    max-width: 8px;
}

/* STANDARD HEADER > NAVIGATION TABLET (BURGER) */

a.primaryTabletNodes {
    color:black;
}
a.primaryTabletNodes:hover,
a.primaryTabletNodes:focus {
    color:black;
    text-decoration: underline;
}
.wsmenu-list li:hover>a {
        background: transparent;
        text-decoration: none;
        cursor: pointer;
     }


@media only screen and (max-width: 991px) {
    .wsmenu-list li:hover>a {
        color:black;
        text-decoration: underline;
        background-color: #e7e7e7;
        cursor: pointer;
     }
}

.naviBTablet {
    color: black;
    font-size: 1.4rem;
    display: table;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
}

.subNaviTablet {
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
}

.glyphicon-user {font-size: 1.5em;}


/* HEADER LITLE */

.HeaderTC-global {
    height: 92px;
}

.bea-portal-body-header {
    position: relative;
    z-index: 6;
}

.HeaderTC-global #MOD_Header {
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.device__is_desktop #MOD_Header {
    background-color: #fff;
    min-width: 1044px;
}
#MOD_Header {
    position: relative;
    width: 100%;
    z-index: 6;
    -moz-box-shadow: #aaa 0 3px 5px;
    -webkit-box-shadow: #aaa 0 3px 5px;
    box-shadow: #aaa 0 3px 5px;
}

.HeaderTC-global #MOD_Header .container {
    height: 64px;
    padding-bottom: 0;
}
#MOD_Header .container {
    position: relative;
    overflow: visible;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 980px;
    height: 132px;
    padding: 0 0 0 32px;
    margin: 0 auto;
}

.HeaderTC-global #header_logo {
    margin-top: 0;
    width: 235px;
    height: 40px;
    top: 34px;
    background-position: -248px -132px;
}
#header_logo {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 50px;
}
.icon__logo, #header_logo {
    width: 200px;
    height: 35px;
    background-position: -485px -1px;
}

#MOD_Header .InfoPaiementSecurise {
    position: absolute;
    top: 50px;
    left: 220px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: Playfair Display,Georgia,Open Sans;
    font-style: italic;
    font-weight: 900;
    line-height: 23px;
}

#MOD_Header .InfoPaiementSecurise span {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 700px) {
    #MOD_Header .InfoPaiementSecurise {
        position: absolute;
        top: 80px;
        left: 0;
    }
}


.icon, .form-line.error .picto-valid, #header_search_submit, #header_logo, #footer_lastline #logo_footer {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat 0 0;
}

.icon_secure {
    width: 12px;
    height: 16px;
    background-position: -10px -6px;
}

.header_help {
    float: right;
    width: 40%;
    padding: 10px 0 0;
    border-top: 1px solid #ccc;
    margin-top: 25px;
    text-align: right;
}

.header_help .icon_phone {
    bottom: 3px;
    position: relative;
    vertical-align: bottom;
}
.icon_phone {
    width: 22px;
    height: 22px;
    background-position: -34px -12px;
}

.header_help .header_help_container {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.header_help .header_help_tel {
    margin-bottom: 2px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
    font-weight: 600;
    color: #444;
    text-align: left;
}
.cartouche-tel-surtaxe-medium, .cartouche-tel-surtaxe {
    width: 223px;
    height: 27px;
    background-position: -273px 0;
}

.arrow-red-medium, .arrow-red-1-medium, .smartphone #footer.footer_sc .icon__mobile.icon__arrow_red_1, .arrow-red-2-medium, .smartphone #footer.footer_sc .icon__mobile.icon__arrow_red_2, .arrow-red-small-medium, .cartouche-tel-gratuit-medium, .cartouche-tel-gratuit, .cartouche-tel-surtaxe-medium, .cartouche-tel-surtaxe, .icon-blog-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__blog, .icon-card-4e-payment-footer-medium, .smartphone .icon_card_4e, .icon-card-cadeau-payment-footer-medium, .smartphone .icon__payment_cadeau, .icon-card-cado-payment-footer-medium, .smartphone .icon__payment_cado, .icon-card-cb-payment-footer-medium, .smartphone .icon_card_cb, .smartphone .icon__payment_cb, .icon-card-mc-payment-footer-medium, .smartphone .icon_card_mc, .smartphone .icon__payment_mc, .icon-card-paypal-payment-footer-medium, .smartphone .icon__payment_pp, .icon-card-ss-payment-footer-medium, .smartphone .icon_card_ss, .smartphone .icon__payment_ss, .icon-card-visa-payment-footer-medium, .smartphone .icon_card_visa, .smartphone .icon__payment_visa, .icon-card4e-big-footer-medium, .icon-cards-footer-medium, .icon-checked-1-medium, .icon-facebook-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__facebook, .icon-fevad-medium, .icon-google-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__google, .icon-instagram-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__instagram, .icon-phone-medium, .smartphone .icon_phone_black, .icon-phone-gray-medium, .icon-phone-gray, .icon-pinterest-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__pinterest, .icon-tabs-medium, .icon-tabs-02-medium, .icon-tabs-02-top-medium, .icon-tabs-default-medium, .icon-twitter-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__twitter, .icon-youtube-medium, .smartphone #footer.footer_sc .icon__mobile.icon__social.icon__youtube, .iconm-socials-medium, .smartphone #footer.footer_sc .icon__mobile.iconm__socials, .logo-footer-medium, .logo-footer-02-medium, .smartphone #footer.footer_sc #logo_footer {
    background-image: url(../img/footer-sprite.svg);
}

.cartouche-tel-surtaxe {
    display: inline-block;
    vertical-align: middle;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
}

.header_topbar {
    width: 605px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
}
.HeaderTC-global .header_topbar {
    height: 25px;
}
.HeaderTC-global .header_topbar ul {
    float: right;
    margin-right: 0;
}
.header_topbar>ul {
    float: right;
}
.header_topbar ul {
    float: left;
}

.HeaderTC-global .header_topbar .header_topbar_list_item {
    margin-right: 0;
    float: right;
}

.header_topbar_list_item {
    color: #737373;
    font-size: 12px;
    font-size: 1.2rem;
    position: relative;
}

.topbar_list_item, .header_topbar_list_item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: .92308em;
    line-height: 28px;
}

.header_topbar_list_item a {
    color: #737373;
}
.topbar_list_item a, .header_topbar_list_item a {
    text-decoration: none;
    line-height: 28px;
}

.topbar_list_item i, .header_topbar_list_item i {
    margin-right: 5px;
}
.icon__rsaquo {
    width: 3px;
    height: 6px;
    background-position: -489px -55px;
}


/* HEADER */

.wsmenucontainer {
    background: #fff;
}

/*.header > .container:first-child {
    padding: 30px 0 20px;
    margin: 0 auto;
}*/

.header .col-lg-offset-catalog {
    display: none;
}

.header .top-bar {
    font-size: 12px;
}

.header .top-bar .side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .top-offers {
    font-style: italic;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    color: #DC0B0B;
    font-size: 15px;
    cursor: pointer;
}

.header .top-bar .top-item {
    margin: 0 15px 0 0;
}

.header #account-button {
    background: transparent;
    font-size: 12px;
    color: #737373;
    margin: 0 0 0 20px;
    outline: 0;
}

.header #form-search {
    position: relative;
}

#form-search .searchbox {
    width: 310px;
    height: 36px;
    text-indent: 10px;
    border: 1px solid #AAA;
    outline: 0;
}

#form-search .send-searchbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    outline: 0;
    margin: auto 0;
}

.header #cart {
    background: transparent;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
}

#cartZone i, #userZone i, #helpHeader i {
    background-image: url(../img/sprite_008.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 47px;
    display: block;
    margin: auto;
    float: none;
}
#cartZone i::before, #userZone i::before, #helpHeader i::before { display: none; }
.header #cartZone .fa-stack { display: none; }

.fa-bag{
    background-position: -210px 0;
    background-size: inherit;
}
.fa-she-user {
    background-position: -407px -546px;
    background-size: 730px;
}

#cBanner {
    padding: 5px 15px;
}

/* MENU */

.wsmenu {
    background: black;
    border-radius: 0;
    margin: 0;
    max-width: none;
}

.wsmenu-list {
    max-width: 1170px;
    margin: auto;
}

.wsmenu-list > li > a {
    line-height: 32px;
    background: transparent;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
}

.wsmenu-list>li:hover>a {
    background: transparent;
    text-decoration: none;
}


.megamenu {
    right: 0;
    top: 32px;
    margin: 0 auto;
    border-bottom: 5px solid #000;
}

.megamenu > ul {
    max-width: 1150px;
    margin: auto;
}

/* MAIN CONTAINER */

main.container, main {
    background: #fff;
    padding: 20px;
    margin: 20px auto 70px;
    position: relative;
}

/*main, footer {
    width: 1150px;
}*/


main.containerLite {
    margin: 20px auto 0 !important;
}


/* STOREFRONTS & FILTERS */

input[type="checkbox"]:checked+i, input[type="checkbox"]:checked+i:before {
    color: #DC0B0B;
}
input[type="checkbox"]:checked+i, input[type="checkbox"]:checked+i:before {
    color: #DC0B0B;
}

.sizeButton:hover {
    border-color: #DC0B0B;
    color: #DC0B0B;
}

.slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #DC0B0B;
    background-image: -moz-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#DC0B0B),to(#DC0B0B));
    background-image: -webkit-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: -o-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: linear-gradient(to bottom,#DC0B0B,#DC0B0B);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border: 0 solid transparent;
}

.slider-selection {
    position: absolute;
    background-color: #DC0B0B;
    background-image: -moz-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#DC0B0B),to(#DC0B0B));
    background-image: -webkit-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: -o-linear-gradient(top,#DC0B0B,#DC0B0B);
    background-image: linear-gradient(to bottom,#DC0B0B,#DC0B0B);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.open > .dropdown-menu a:hover {
    color: #DC0B0B;
}
.dropdown-menu > li > a:hover {
    color: #DC0B0B;
    background-color: inherit;
}


/* PRODUCT */

.component #products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.component #products .product {
    width: calc(100%/3);
    height: auto;
    padding: 0;
}

#products .product .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 0 0 20px;
}

.product .cover-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.product .image {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.product .description {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10px;
}

.product .price-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto 0 0;
    font-size: 16px;
    line-height: normal;
}

.product .price-wrapper .from {
    width: 100%;
    font-size: 12px;
}

.product .price-wrapper .big {
    font-size: 32px;
    line-height: 30px;
}


/* ADD TO BASKET */

main form {
    min-height: 45px;
}

#addToBasket {
    margin: 0;
}

/* SEPARATED VERSION */
main.separated {
    background: transparent;
    padding: 0;
}

main.separated .component {
    background: white;
    padding: 20px;
}

main.separated #category-info.component {
    margin-bottom: 20px;
    padding-bottom: 0;
}

main.separated #results.component {
    padding: 0;
    background: transparent;
}

main.separated #categories .values {
    padding: 20px 20px 10px;
    background: white;
    margin-bottom: 20px;
}

main.separated #products .product .wrapper {
    padding: 20px;
    background: white;
    margin: 0 0 20px 20px;
    height: 500px;
}

/* PRODUCT */

#breadcrumb {
    padding: 8px 20px;
    font-size: 12px;
}

#product.component {
    background: transparent;
    padding: 0;
}
.component #images.side {
    flex: 1;
    position: relative;
    background: white;
    padding: 20px 20px 0;
    margin: 0 20px 0 0;
    display: flex;
    -webkit-box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.49);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.49);
}
.component #images.side.no-background {
    background: transparent;
    padding: 0;
    flex-direction: column;
}
.component #images.side .wrapper {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 20px 20px 0;
    margin: 0 0 20px 0;
}
#product #images .thumb-nails {
    margin: 0;
    width: 75px;
}
#product #images .thumb-nails img {
    width: 100%;
    margin: 0 0 20px;
    cursor: pointer;
}
#product #images .featured-image {
    flex: 1;
    margin: 0 0 20px 20px;
}
#info.side {
    width: 400px;
    display: flex;
    align-items: flex-start;
}

#info.side .wrapper {
    padding: 20px 20px 0;
    background: white;
    -webkit-box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.49);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.49);
}

.info-line {
    margin: 0 0 20px;
    display: block;
}

#info .info-line.double {
    margin: 0 0 40px;
}

#info .ref {
    font-size: 14px;
}

#info .ref::before {
    content: "ref: ";
}

#info .info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info #addToBasket {
    width: calc(60% - 10px);
    height: 50px;
    background: #C2C2C2;
    color: white;
    outline: 0;
    position: relative;
}

#info #addToBasket.enabled {
    background-image: linear-gradient(to right,#4cab2e,#008a38);
}

#info #addToBasket:hover {
    background: #C2C2C2;
}

#info #addToBasket::before {
    content: "";
    background-image: url(../img/sprite_008.png);
    width: 33px;
    height: 47px;
    background-position: -210px 0;
    position: absolute;
    top: -20px;
    left: -10px;
}

#info #addToWishlist {
    width: calc(40% - 10px);
    height: 50px;
    background: transparent;
    color: white;
    border: 1px solid currentColor;
    outline: 0;
    color: #3c3c3b;
}

#info #addToWishlist:hover {
    color: #DC0B0B;
}

#info .info-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}

#info .info-social img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

#info .info-price {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    justify-content: flex-end;
    line-height: 22px;
    margin: 0 0 40px;
}

#info .info-price .big {
    font-size: 62px;
    line-height: 42px;
}

#info .info-line.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info .info-claims {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.selectables {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
}

.feature button {
    margin: 0;
}

.feature .name {
    font-weight: bold;
    min-width: 75px;
    margin: 0;
}

.feature .name::after {
    content: ":";
}

.selectables .color {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    outline: 0;
    box-shadow: #AAA 0 0 3px;
    border: 4px solid #FFF;
    margin: 0 -4px 0 0;
}

.selectables .color.selected, .selectables .color:hover {
    height: 50px;
    width: 50px;
}

#images #features {
    flex-direction: column;
    margin: 0;
}

#features .feature-row {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.feature-row .name {
    margin: 0 0 10px;
    display: block;
}

#features .feature-row .feature {
    flex: 1;
    position: relative;
}

#features .feature-row .feature.drop-down {
    padding: 0 10px;
}

#features #picked-features {
    flex-direction: column;
}

/* FEATURED PRODUCTS */

.featured-products .product {
    flex: 1;
    height: auto;
    padding: 0;
}

.featured-products .product .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0 20px 0 0;
}

/* TABS */

#tabs .tabs {
    width: 100%;
}

/* FOOTER */

footer {
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
    background: white;
}

/* FOOTER LITE */

.footer-conteneur {
    background: #fff;
    padding: 20px;
    position: relative;
}

#footer_min {
    position: relative;
    height: 30px;
    border-top: 1px solid #E1E1E1;
    background: #FBFBFB;
}
#footer_min {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon_mini_logo_grey {
    position: absolute;
    display: block;
    width: 42px;
    height: 36px;
    left: 50%;
    margin-left: -21px;
    margin-top: 0;
    top: -19px;
    background-position: -347px 0;
}


/* FOOTER 20-09 */
footer {
    width: 100%;
    position: relative;
    margin: 100px auto 0;
    padding: 47px 0 0;
    background: #FBFBFB;
}
footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transform: rotate(-2deg);
    border-top: 2px solid #DC0B0B;
    height: 80px;
    top: -40px;
    background: #FBFBFB;
}
footer::after {
    content: "";
    display: block;
    background: url(../img/sprite_008.png) no-repeat 0 0;
    background-position: -118px -190px;
    width: 56px;
    height: 56px;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: -65px;
}
footer .footer-row {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin: 0;
}

footer .footer-row.double {
    margin-bottom: 40px;
}

footer .footer-row .row-wrapper {
    width: 1150px;
    margin: auto;
    flex-direction: row;
    display: flex;
}
@media screen and (max-width: 991px) {
    footer .footer-row .row-wrapper {
        width: 750px;
        margin: auto;
        flex-direction: row;
        display: flex;
    }
}

footer .footer-col {
    flex: 1;
    display: flex;
}
footer .check {
    font-size: 1.2em;
    flex: 1;
    text-align: center;
}
footer .links {
    padding: 20px 0;
    background: #EFEFEF;
    font-size: 13px;
    border-top: 1px solid #DDD;
}

footer .bottom-links {
    justify-content: flex-end;
}

footer .bottom-links a {
    margin: 0 5px;
}

footer .links .title {
    color: #DC0B0B;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 15px;
}

footer .payment_icons {
    margin: 10px 0;
    width: 115px;
}

footer .bottom-footer {
    background: #EFEFEF;
    padding: 0;
}

footer .bottom-footer .row-wrapper {
    border-top: 1px solid #DDD;
    padding: 20px 0;
}

footer .bottom-footer a {
    font-size: 10px;
}

footer .footer-title {
    font-weight: 900;
    font-style: italic;
    font-family: 'Playfair Display',serif;
    text-align: center;
    font-size: 28px;
    margin: 0 0 20px;
}

footer .footer-row .card {
    margin: 0 20px;
    padding: 10px;
}

@media screen and (max-width: 991px) {
    footer .footer-row .card {
        margin: 0 -1px;
        padding: 10px;
    }
}

/* FOOTER CARD REQUEST */

footer #card-request .card-options {
    margin-left: 10px;
}

footer #card-request .card-options p {
    font-size: 15px;
}

footer #card-request a {
    color: #DC0B0B;
}

/* FOOTER NEWSLETTER */
#newsletter {
    border: 2px dashed #DDD;
}

#newsletter input {
    width: 230px;
    height: 40px;
    text-indent: 10px;
    margin: 20px 0 0;
    border: 1px solid #AAA;
}

/* FOOTER SOCIAL BUTTONS */

#social-buttons .social-button {
    height: 40px;
    width: auto;
    margin: 20px 0 0
}

/* FLEX HELPERS */

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.direction-row, .direction-column {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-y-center {
    align-items: center;
}

.flex-x-center {
    justify-content: center;
}

.flex-x-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

/* OPINIONS */

.reviews {
    flex-wrap: wrap;
}

.reviews .review {
    border: 2px solid #ddd;
    padding: 20px;
    width: calc(50% - 10px);
    margin: 0 0 20px;
}

.reviews .review .title {
    margin: 0;
}

.reviews .review .user-name {
    font-weight: bold;
}

/* 3SUISSES ICON */

.icon3 {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite_008.png) no-repeat 0 0;
}

.icon__checked_1 {
    width: 16px;
    height: 16px;
    background-position: -35px -40px;
    margin-right: 5px;
}

.icon__payment {
    width: 35px;
    height: 23px;
}

.icon__payment_cb {
    background-position: 0 -280px;
}

.icon__payment_visa {
    background-position: -38px -280px;
}

.icon__payment_mc {
    background-position: -76px -280px;
}

.icon__payment_pp {
    background-position: 0 -306px;
}

.icon__payment_4e {
    background-position: -38px -306px;
}

.icon__payment_3xCB {
    background-position: -76px -306px;
}

.icon__payment_ss {
    background-position: -38px -332px;
}

.icon__payment_cado {
    background-position: -77px -332px;
}

.icon__cartouche-surtaxe-tel {
    height: 27px;
    width: 223px;
    background-position: -113px -308px;
}

.icon__fevad {
    width: 28px;
    height: 20px;
    background-position: -182px -188px;
}

.icon__card4e {
    height: 135px;
    width: 110px;
    background-position: 0 -111px;
}

.icon__logo_small2 {
    width: 112px;
    height: 19px;
    margin: 20px auto 40px;
    background-position: -146px -165px;
}

.icon__arrow_red_1 {
    background-position: -118px -165px;
    width: 13px;
    height: 10px;
}

.icon__social {
    width: 43px;
    height: 43px;
    margin: 0 1px;
}

.icon__facebook {
    background-position: 0 -68px;
}

.icon__twitter {
    background-position: -43px -67px;
}

.icon__pinterest {
    background-position: -88px -67px;
}

.icon__youtube {
    background-position: -175px -67px;
}

.icon__instagram {
    background-position: -219px -67px;
}

.icon__google {
    background-position: -131px -67px;
}

.icon__redchecked {
    width: 11px;
    height: 11px;
    background-position: -20px -41px;
}

.newsletter_mail-icon {
    background-position: -326px 3px;
    width: 18px;
    height: 20px;
}

.icon__account {
    height: 12px;
    width: 12px;
    background-position: -214px -47px;
}

.icon__list_arrow {
    width: 10px;
    height: 5px;
    background-position: -3px -54px;
}

.icon__cart {
    width: 33px;
    height: 47px;
    background-position: -210px 0;
    margin: 0 0 0 10px;
}

.icon__search_big {
    width: 41px;
    height: 30px;
    background-position: -51px -38px;
}

/* ==== Last styles 09/01/2017 ==== */
.fa-6x {
    font-size: 6em !important;
}
.fa-7x {
    font-size: 7em !important;
}
#cBanner {
    padding: 5px 0px;
    background: black;
    margin-top: 10px;
}
